{% extends 'mes_aliments/base.html' %}

{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <h1>Du gras, oui, mais de qualité !</h1>
                <h2>Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
            </div>
        </header>
        <!-- history -->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
 
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">

            </div>
        </section>
{% endblock %}