{% extends 'mes_aliments/base.html' %}

{% block content %}
		<!-- Masthead-->
        <header id="masthead">
            <div class="container px-4 px-lg-5 h-50" style="margin-top: 100px">
                <form class="form-inline" action="{% url 'connexion' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group {% if form.name.errors %}has-warning has-feedback{% endif %}">
                      <label for="{{ form.name.id_for_label }}" class="control-label">Nom</label>
                      <!-- <input type="text" name="name" value="" id="name"> -->
                      {{ form.name }}
                    </div>
                    <div class="form-group {% if form.password.errors %}has-warning has-feedback{% endif %}">
                      <label for="{{ form.password.id_for_label }}" class="control-label">Mot de Passe</label>
                      <!-- <input type="text" name="name" value="" id="name"> -->
                      {{ form.password }}
                    </div>
                    <div class="form-group {% if form.email.errors %}has-warning has-feedback{% endif %}">
                      <label for="{{ form.email.id_for_label }}" class="control-label">E-mail</label>
                      <!-- <input type="text" name="email" value="" id="email"> -->
                      {{ form.email }}
                    </div>
                    <!-- <input type="hidden" class="hidden" value="{{ album.id }}" name="album_id"> -->

                    <button type="submit" class="btn btn-success">Entrer</button>
                </form>

                  {% if errors %}
                <div>
                  {% for key, error in errors %}
                  {% autoescape off %}
                    {{ error }}
                  {% endautoescape %}
                  {% endfor %}
                </div>
                {% endif %}

            </div>
            </div>
        </header>
{% endblock %}

