{% extends 'mes_aliments/base.html' %}

{% block content %}
	<!-- Masthead-->
        <header id="masthead">
            <div class="container px-4 px-lg-5 h-50" style="margin-top: 100px">
                {% if products|length_is:"0" %}
                    Palsambleu ! Nous n'avons trouvé aucun résultat à cette requête. Même pas de quoi se ronger la chique !
                    Partez de nouveau à l'abordage !

                {% else %}
                {% load multifor %}
                    {% for product in substitute %}
                        {% if forloop.counter|divisibleby:3 %}{% endif %}
                            <a href="{% url 'my_product' product.id %}">
                                <p>
                                    <img src="" height="300" width="300">
                                    {{ product }}
                                <p>
                            </a>
                    {% endfor %}
                {% endif %}
            </div>
        </header>
{% endblock %}
