{% extends 'mes_aliments/base.html' %}

{% block content %}
		<!-- Masthead-->
        <header id="masthead">
            <div class="container px-4 px-lg-5 h-50" style="margin-top: 100px">
              <form class="form-inline" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                     <div class="form-group {% if form.name.errors %}has-warning has-feedback{% endif %}">
                      
                        <label for="{{ form.name.id_for_label }}" class="control-label">Nom</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group {% if form.password.errors %}has-warning has-feedback{% endif %}">
                        <label for="{{ form.password.id_for_label }}" class="control-label">Mot de passe</label>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-success">Entrer</button>
                    <p>Vous n'avez pas encore de compte ? Créez en un <a href="/create">ici</a></p>
                </form>
            </div>
        </header>
{% endblock %}